html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* IDS */
#search {
  border: none;
  stroke: none;
}

/* GROUP STYLES */

/* BORDER RADIUS */
.cards,
.container-for-buttons,
.sidenav,
.form-control,
.table,
#states {
  border-radius: 15px;
}

/* FONT WEIGHT */
.name,
.location,
.logoName {
  font-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  border-bottom: 3px solid #222222;
}

a {
  text-decoration: none;
}

.button {
  border: 0;
  background: transparent;
}

.btn {
  outline: none;
}

.actions-icon-bootstrap {
  cursor: pointer;
}

/* Set gray background color and 100% height */
.sidenav {
  min-height: 69.8125rem;
}

.cards {
  background-color: #f1f1f1;
  padding: 2.5rem;
}

/* LEFT SIDE BAR */

.container-for-buttons {
  outline: 2px solid #222222;
  min-height: 600px;
  list-style-type: none;
  padding: 2.5rem;
}

#states {
  background-color: #f1f1f1;
  padding: 0.5rem;
  width: 100%;
}

/* RIGHT SIDE */
.table {
  background-color: #f1f1f1;
  text-align: left;
}
