html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GROUP STYLES */
.cards,
.container-for-buttons,
.sidenav,
.form-control,
.table,
#states {
  border-radius: 25px;
}

/* FONT WEIGHT */
.name,
.location,
.logoName,
.fs-5 {
  font-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url(./assets/bg-plant-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  border-bottom: 3px solid #222222;
  position: sticky;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.button {
  border: 0;
  background: transparent;
}

.btn {
  outline: none;
}

.actions-icon-bootstrap {
  cursor: pointer;
}

.cards {
  background-color: #f1f1f1;
  padding: 2.5rem;
}

/* LEFT SIDE BAR */

.container-for-buttons {
  outline: 2px solid #222222;
  /* min-height: 800px; */
  list-style-type: none;
  padding: 2.5rem;
}

#states {
  background-color: #f1f1f1;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
}

/* CONTRIBUTOR - ADD - SEARCH */
/* .hidden {
  display: none !important;
} */

/* RIGHT SIDE */
#search {
  border: none;
  stroke: none;
}

.table {
  background-color: #f1f1f1;
  text-align: left;
}
