/* LOOK -- THIS IS THE CORRECT STYLE.CSS */

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100%;
  color: #222222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GROUP STYLES */
.cards,
.container-for-buttons,
.cardContainer,
.sidenav,
.table,
#states,
#searchBar,
#formBody,
#all,
.innerCardContainer {
  border-radius: 25px;
}

/* FONT WEIGHT */
.location,
.logoName,
.fs-5,
.add-contributor,
.cHeader,
.loading,
#modal-title,
#login,
#sign-up,
#about {
  font-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url("./assets/bg-pattern-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  border-bottom: 2.5px solid #222222;
  position: sticky;
}

a {
  text-decoration: none !important;
  color: #222222 !important;
}

.button {
  border: 0;
  background: transparent;
}
/* BUTTONS INSIDE THE DIRECTORY */
.btn {
  outline: none;
}

.actions-icon-bootstrap {
  cursor: pointer;
}

/* LEFT SIDE BAR */

.container-for-buttons {
  outline: 2.5px solid #222222;
  min-height: 600px;
  list-style-type: none;
  padding: 2.5rem;
}

#states,
#all {
  background-color: #f1f1f1;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
  box-shadow: 3px 3px 5px #dcb7c0;
}

/* CONTRIBUTOR - MODAL - SEARCH */
#formBody {
  background-color: #f1f1f1;
  padding: 2.5rem;
  text-align: left;
}

#modal-title {
  text-align: center;
}

/* #searchBar {
  box-shadow: 3px 3px 5px #dcb7c0;
} */

.cHeader {
  text-align: left;
}

.input-group {
  margin-bottom: 0.5rem;
}

label {
  font-weight: 500;
}

input::placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #555;
}

.modal-header,
.modal-footer,
.modal-body {
  border-color: transparent;
}

.input-group-text,
.form-select,
.btn-outline-dark {
  border-radius: 10px;
}

/* RIGHT SIDE */

.cardContainer {
  outline: 2.5px solid #222222;
  padding: 2.5rem;
}

.innerCardContainer {
  background-color: #f1f1f1;
  box-shadow: 3px 3px 5px #dcb7c0;
}

#searchIcon {
  border: none;
  stroke: none;
}

.table {
  text-align: center;
}

#upVote,
#downVote {
  width: 80px;
  font-weight: 600;
  max-width: 100%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #ecebeb;
  border: none;
}

.voteButton button:hover {
  background-color: #dcb7c0 !important;
}
/* #upVote button:disabled {
  background-color: #dcb7c0;
}

#downVote button:hover {
  background-color: #dcb7c0;
} */

#portfolioBTN,
#pastWorkBTN {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #ecebeb;
  padding: 0.4rem 1.5rem;
}

.form-helper {
  font-weight: 300;
  font-size: 0.9rem;
  color: black;
  opacity: 60%;
}

.form-label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #222222;
}

.name {
  font-weight: 600;
  font-size: 1.1rem;
}
